NODE_ENV=development
PORT=3001
JWT_SECRET=wpoyj90f8uyv
MONGO_CONNECTION_STRING=mongodb://thetasteofpersia:8gJq2nXAQr9u@208.109.35.88:27017/thetasteofpersia?authSource=thetasteofpersia
PUBLIC_URL=http://localhost:3001/public
SQUARE_ACCESS_TOKEN=EAAAEG6NibBFG8-Lpvob5-sxb1JO4Egx_3Jt0zzLufkEc22Y7cu8doNnnuEBTcvm